
html{
	height: 100%;
	overflow: hidden;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf');
}

body {
  height: 100%;
	overflow: auto;
  font-family: 'Roboto', sans-serif;
	color: #001029;
}

body:before {
  content: "";
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.83;
  pointer-events: none;
}

.row-image{
	margin: 10px 0px;
}

.whiteBox {
  background-color: #f8f8f8;
	margin: 20px 0px;
	padding: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  border-radius: 3px 15px;
  transition: all 0.2s ease-in-out;
}
.whiteBox:hover {
  background: #fff;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .4);
}
.whiteBox:hover .shortBody:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.whiteBox h1{
  margin-top: 10px;
}

.input-group .form-control {
  z-index: 0;
}
.cursor-pointer{
	cursor: pointer;
}

.loading{
	font-size: 50px;
	margin-bottom: 50px;
	margin-top:50px;
}
.titleLink{
	color: inherit;
}
.titleLink:hover{
	color: inherit;
}
.imagePost{
  width: 120px;
  height: 120px;
  border-radius: 3px;
  margin-right: 10px;
}
.titlebox{
	padding: 5px 20px;
	font-weight: 1000;
}
.iconTitle{
	margin-right: 10px;
}
.post{
	margin-bottom: 20px;
}
.bodyPost{
	margin-top: 10px;
	font-size: 18px;
}
.shortBody{
	overflow: hidden;
	white-space: pre-line;
	text-overflow: ellipsis;
	min-height: 20px;
  max-height: 70px;
	margin: 10px 0px 0px 0px;
  position: relative;
  margin-bottom: 10px;
}

.shortBody:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
  transition: all 0.2s ease-in-out;
}
.form-inline .form-group{
	margin: 10px 15px 10px 15px;

}
.form-inline .form-group label{
	margin-right: 10px;
}
.form-inline{

}
.white{
	color: white;
}
.margin-bottom{
	margin-bottom: 20px;
}

.margin-top{
	margin-top: 20px;
}

.no-margin{
	margin: 0;
}

.steemit-icon-small{
	height: 25px;
	width: 25px;
  background-image: url('/assets/steemit1.png');
  background-size: 25px 25px;
	margin-bottom: 10px;
  margin-right: 20px;
}
.steemit-icon-small:hover{
  background-image: url('/assets/steemit2.png');
}

.steemit-icon-big{
	height: 30px;
	width: 30px;
  background-image: url('/assets/steemit1.png');
  background-size: 30px 30px;
	margin-bottom: 10px;
}
.steemit-icon-big:hover{
  background-image: url('/assets/steemit2.png');
}

.alert{
	margin-bottom: 0px;
}

.preview{
	padding: 5px 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  font-variant: normal;
  font-family: Helvetica;
}

h2 {
  font-weight: bold;
  font-size: 27px;
}

h3 {
  font-size: 24px;
  margin-bottom: 18px;
}

h4.shortBody, p {
  font-size: 17px;
  line-height: 1.4;
}

h5:not(.shortBody):first-child {
  padding-top: 10px;
}

h5:not(.shortBody):not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

a {
  color: #326067;
  transition: all 0.2s 0.02s ease-in-out;
  cursor: pointer;
}
a:hover {
  color: #28AFC2;
  text-decoration: none;
}

a>h2 {
  display: inline-block;
  margin-bottom: 0px;
}
